#mapid {
    height: 670px;
}

main {
    display: flex;
}

main .left{
    width: 50%;}

main .right {
    margin-left: 20px;
    width: 50%;
}

.right .filter-box .homes-box {
    width: 100%;
    padding: 20px;
    list-style: none;
}

footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
}

footer div {
    width: 33%;
    height: 20px;
}

.filter-box label{
    width: 100px;
    line-height: 1.8em;
}

.form-control{
    line-height: 50px;
}

.form-control label{
    letter-spacing: 0.15em;

}

.website {
    margin-left: 300px;
    margin-right: 300px;
}

/* BEGIN */

* {
    margin: 0;
    padding: 0;
}

.parent {
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    background-color: #eee;
    display: flex;
    justify-content: center;
    border-top: 10px solid #E76F51;
    padding: 20px;
    color: #2C9D8F;
}

.header-img {
    width: 100%;
    max-width: 50vw;
}

.text-over-image h1 {
    color: red;
    position: absolute;
    font-size: 70px;
}

.header {
    margin-top: 100px;
}